<html>
<head>
    <title>Test site</title>
    <link rel="stylesheet" type='text/css' href="static/css.css" />
</head>
<body>
    <h2>Wtform <3</h2>
    <form method='POST' action='/' class="form-horizontal">
        {% for field in form  %}
        <div class="control-group {% if field.errors %}error{%endif%}">
            <label class="control-label" for="{{field.name}}">{{field.label}}</label>
            <div class="controls">
                {{field()}}
                <span class="help-inline">{% for error in field.errors %} {{error}} {% endfor %}</span>
            </div>
            
        </div>
        {% endfor %}
        <input class="btn btn-primary" type='submit' />
    </form>
    <div>    
        <strong>records:</string>
        <ul>
        {% for key, value in output.items() %}
            <li><b>{{key}} =></b> <span>{{value}}</span></li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>

